<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tech-Blog</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <div class="wrapper">

        <header class="hero">
            <div>
                <nav class="navbar">
                    <a class="link" href="/">HOME</a>
                    <a class="link" href="/dashboard">DASH BOARD</a>
                    {{#if loggedIn}}
                    <a class="link" href="/" id='logout'>LOG OUT</a>
                    {{else}}
                    <a class="link" href='/login'>LOGIN</a>
                    {{/if}}
                </nav>
            </div>

            <hi class="app-title"><i class="fab "></i>Tech Blog</hi>
        </header>



        <main class="col-auto">
            {{{body}}}
        </main>
    </div>

    {{#if loggedIn}}
    <script src="/public/js/logout.js"></script>
    {{/if}}

    </body>



</html>